@page "/telegram-bots/create"
@rendermode InteractiveServer
@inject ITelegramBotRepository BotRepo
@inject NavigationManager Navigation

<PageTitle>Create TelegramBot</PageTitle>

<h1>Create Telegram Bot</h1>

<EditForm Model="@dto" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="dto.Name" />
        <ValidationMessage For="@(() => dto.Name)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <InputText id="username" class="form-control" @bind-Value="dto.Username" />
    </div>

    <div class="mb-3">
        <label for="token" class="form-label">Token</label>
        <InputText id="token" class="form-control" @bind-Value="dto.Token" />
        <ValidationMessage For="@(() => dto.Token)" class="text-danger" />
    </div>

    <div class="mb-3">
            <label for="welcomeMessage" class="form-label">Welcome Message</label>
            <InputTextArea id="welcomeMessage" class="form-control" @bind-Value="dto.WelcomeMessage" />
        </div>

        <div class="mb-3 form-check">
            <InputCheckbox id="isRunning" class="form-check-input" @bind-Value="dto.IsRunning" />
            <label for="isRunning" class="form-check-label">Running</label>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    <a href="telegram-bots" class="btn btn-secondary">Cancel</a>
</EditForm>

@code {
    private readonly CreateTelegramBotDto dto = new();

    private async Task HandleSubmit()
    {
        var entity = dto.ToEntity();
        await BotRepo.CreateAsync(entity);
        Navigation.NavigateTo("telegram-bots");
    }
}
